<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="visit">
            <h2><span jhiTranslate="jhpetclinicApp.visit.detail.title">Visit</span> {{ visit.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhpetclinicApp.visit.visitDate">Visit Date</span></dt>
                <dd>
                    <span>{{ visit.visitDate | date:'mediumDate' }}</span>
                </dd>
                <dt><span jhiTranslate="jhpetclinicApp.visit.description">Description</span></dt>
                <dd>
                    <span>{{ visit.description }}</span>
                </dd>
                <dt><span jhiTranslate="jhpetclinicApp.visit.pet">Pet</span></dt>
                <dd>
                    <div *ngIf="visit.petId">
                        <a [routerLink]="['/pet', visit.petId, 'view']">{{ visit.petName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/visit', visit.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
