<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhpetclinicApp.pet.home.title">Pets</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pet" [routerLink]="['/pet/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhpetclinicApp.pet.home.createLabel">
            Create a new Pet
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="pets?.length === 0">
        <span jhiTranslate="jhpetclinicApp.pet.home.notFound">No pets found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="pets && pets.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="jhpetclinicApp.pet.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="birthDate"><span jhiTranslate="jhpetclinicApp.pet.birthDate">Birth Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="typeName"><span jhiTranslate="jhpetclinicApp.pet.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ownerLastName"><span jhiTranslate="jhpetclinicApp.pet.owner">Owner</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pet of pets ;trackBy: trackId">
                    <td><a [routerLink]="['/pet', pet.id, 'view']">{{ pet.id }}</a></td>
                    <td>{{ pet.name }}</td>
                    <td>{{ pet.birthDate | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="pet.typeId">
                            <a [routerLink]="['/pet-type', pet.typeId , 'view']" >{{ pet.typeName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="pet.ownerId">
                            <a [routerLink]="['/owner', pet.ownerId , 'view']" >{{ pet.ownerLastName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/pet', pet.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/pet', pet.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(pet)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="pets && pets.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
